{% extends 'crossfity/base.html' %}

{% block title %}
   THANK YOU FOR YOUR APPLY
{% endblock %}

{% block content %}
    <div class="panel panel-danger">
        <div class="panel-heading">
            <h2>THANK YOU FOR YOUR APPLY</h2>

            <h4>WE NEED SOME TIME TO VERIFY YOUR CERTIFICATIONS</h4>

            <h4>PLEASE CHECK YOUR E-MAIL FOR REGISTRATION LINK</h4>

                <h4>WE WILL ALSO SEND A VERIFICATION CODE TO YOUR MOBILE PHONE</h4>






        </div>
    </div>
{% endblock %}
