{% extends 'crossfity/base.html' %}

{% block title %}
    APPLY TO CREATE NEW COACH USER
{% endblock %}

{% block content %}
    <div class="panel panel-info">
        <div class="panel-heading">
           create new user related to Coach model
            <h3>not everyone can be a coach</h3>
            'crossfity' needs to check if you have at least CrossFit Level 1 certification
        </div>
        <div class="panel-body">

            <form action="" method="post">

                {% csrf_token %}
                {{ form.as_p }}

                <input type="submit" value="Apply">
            </form>

            <p>
                {% for err in form.non_field_errors %}
                    <strong>
                        {{ err|escape }}
                    </strong>
                {% endfor %}
            </p>



        </div>
    </div>
{% endblock %}
<!--{% block content_js %}-->
    <!--<script type="text/javascript">-->
        <!--$(document).ready(function () {-->
            <!--try {-->
                <!--$('#bands-table').DataTable({-->
                    <!--"bFilter": true,-->
                    <!--"sDom": "lfrtip"-->
                <!--});-->
            <!--}-->
            <!--catch (err) {-->
            <!--}-->
        <!--});-->
    <!--</script>-->
<!--{% endblock %}-->



