{% extends 'crossfity/base.html' %}

{% block title %}
    REVIEW NEW COACH APPLICATION
{% endblock %}

{% block content %}
    <div class="panel panel-info">
        <div class="panel-heading">
           create new user related to Coach model
            <h3>not everyone can be a coach</h3>
            confirm certification and identity, if true generate sms and email
            to allow this applicant to register as our new coach
        </div>
        <div class="panel-body">

            {% for a in aplications %}

            <!--add {if} a.status == True than no buttons and add class 'accepted' . {else} this:-->

            <div id="{{ a.id }}">
                <h3> Application no {{ a.id }}</h3>
                <p> Name: {{a.name}}</p>
                <p> Surname: {{a.surname}}</p>
                <p> Certificate: {{a.certification}}</p>
                <p> email: {{a.e_mail}}</p>
                <p> phone: {{a.phone_number}}</p>
                <p> about: {{a.description}}</p>
                <p> aded: {{a.application_date}}</p>
                <p> STATUS: {{a.status}}</p>
                <h4> pass mail: {{ a.pass_mail }}</h4>
                <h4> pass phone: {{ a.pass_phone }}</h4>
                <form action="" method="post">
                    {% csrf_token %}
                    <a href="/coachapplicationaccept/{{ a.id }}"  id=" accept {{ a.id }}" class="btn btn-primary">Accept</a>

                    <a href="/coachapplicationdelete/{{ a.id }}" id="delete {{ a.id }}" class="btn btn-danger">Delete</a>

                    <button id="mess {{ a.id }}" class="btn btn-secondary">Message</button>
                    <input type="textarea" name="message to {{ a.id }}" class="hidden">
                    <input type="submit" value="Send Message" class="btn hidden">
                </form>
            </div>


            {% endfor %}



            <p>
                {% for err in form.non_field_errors %}
                    <strong>
                        {{ err|escape }}
                    </strong>
                {% endfor %}
            </p>



        </div>
    </div>
{% endblock %}
<!--{% block content_js %}-->
    <!--<script type="text/javascript">-->
        <!--$(document).ready(function () {-->
            <!--try {-->
                <!--$('#bands-table').DataTable({-->
                    <!--"bFilter": true,-->
                    <!--"sDom": "lfrtip"-->
                <!--});-->
            <!--}-->
            <!--catch (err) {-->
            <!--}-->
        <!--});-->
    <!--</script>-->
<!--{% endblock %}-->



