{% extends 'crossfity/base.html' %}

{% block title %}
    PROFILE PAGE
{% endblock %}

{% block content %}
    <div class="panel panel-info">
        <div class="panel-heading">
           this is your profile page
            <h3>user : {{ request.user.username }}</h3>

        </div>
        <div class="panel-body">

            {% for w in wods %}

            <!--add {if} a.status == True than no buttons and add class 'accepted' . {else} this:-->

            <div id="{{ w.id }}">
                <h3> WOD title {{ w.title }}</h3>
                <p> Author: {{ w.author }}</p>
                <h5> elms: {{ w.elms }}</h5>
                <ul> TAGS:
                    {% for tag in w.tags.all %}
                    <li> {{ tag.name }} </li>
                    {% endfor %}
                </ul>
                <p> pk: {{ w.pk }}</p>
                <p> id: {{ w.id }}</p>
                <h4> ELEMENTS: </h4>
                {% for e in w.elms %}
                <p> el 1: {{ e }}</p>
                    <ul>
                        <li>T: {{e.title}}</li>
                        <li>B: {{e.brief}}</li>
                        <li>C: {{e.category}}</li>
                        <li>moves: <ul>
                            <li>01: {{e.reps_01}} {{e.move_01}}</li>
                            <li>02: {{e.reps_02}} {{e.move_02}}</li>
                            <li>03: {{e.reps_02}} {{e.move_03}}</li>
                        </ul></li>
                    </ul>
                {% endfor %}

            </div>

            {% endfor %}

        </div>
    </div>
{% endblock %}
<!--{% block content_js %}-->
    <!--<script type="text/javascript">-->
        <!--$(document).ready(function () {-->
            <!--try {-->
                <!--$('#bands-table').DataTable({-->
                    <!--"bFilter": true,-->
                    <!--"sDom": "lfrtip"-->
                <!--});-->
            <!--}-->
            <!--catch (err) {-->
            <!--}-->
        <!--});-->
    <!--</script>-->
<!--{% endblock %}-->



