{% extends 'crossfity/base.html' %}

{% block title %}
   THANKS PAGE
{% endblock %}

{% block content %}
    <div class="panel panel-danger">
        <div class="panel-heading">
            THANKS
            <!-- make an if statement fo Coach or Athlete user-->
            <a href="{% url 'coach-profile'%}"><button class="btn btn-pripary">Coach PROFILE</button></a>
            <a href="{% url 'athlete-profile'%}"><button class="btn btn-pripary">Athlete PROFILE</button></a>







        </div>
    </div>
{% endblock %}
